@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;700;900&display=swap");

* {
    font-family: "Noto Sans JP", -apple-system, sans-serif;
    font-weight: 300;
    font-style: normal;
    position: static
}

* ::selection {
    background: #afa384;
    color: #FFFFFF
}

@media (min-width: 1000.1px) {
    .pc {
        display: block !important
    }

    .sp {
        display: none !important
    }

    .pcInline {
        display: inline !important
    }

    .spInline {
        display: none !important
    }
}

@media (max-width: 1000px) {
    .pc {
        display: none !important
    }

    .sp {
        display: block !important
    }

    .pcInline {
        display: none !important
    }

    .spInline {
        display: inline !important
    }
}

:root {
    --z-main: -1;
    --z-pageTitCol: 0;
    --z-pageTitInner: 1;
    --z-header: 500
}

#cardlist {
    overflow-x: hidden
}

#cardlist .mainCol input,
#cardlist .mainCol button,
#cardlist .mainCol select {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-appearance: none;
    appearance: none
}

#cardlist .selModal .selModalOverlay {
    background: rgba(146, 129, 87, 0.5)
}

#cardlist .selModal .selModalInner {
    padding: 4vw;
    border-radius: 0;
    overflow-y: auto
}

@media (min-width: 1000.1px) {
    #cardlist .selModal .selModalInner {
        max-width: 1000px;
        padding: 30px
    }
}

#cardlist .selModal .selModalInner .selModalHeader {
    display: none
}

#cardlist .selModal .selModalInner .selModalList {
    height: auto !important
}

#cardlist .selModal .selModalList ul li {
    background: #928157;
    color: #fff;
    font-weight: 700;
    text-align: center;
    border-radius: 50px
}

@media (min-width: 1000.1px) {
    #cardlist .selModal .selModalList ul li {
        font-size: 18px;
        transition: .3s
    }
}

#cardlist .selModal .selModalList ul li::after {
    content: '';
    display: -webkit-flex;
    display: flex;
    background: url(../images/common/ico_arrow.png) left top no-repeat;
    background-size: 2.13333vw;
    width: 4vw;
    height: 1.6vw;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    -webkit-transform: none;
    transform: none;
    border: none;
    right: 1.5vw
}

@media (min-width: 1000.1px) {
    #cardlist .selModal .selModalList ul li::after {
        background-size: 16px;
        width: 30px;
        height: 12px;
        right: 10px
    }
}

#cardlist .selModal .selModalList ul li:hover {
    background: #ddd8cb;
    color: #928157
}

#cardlist .selModal .selModalList ul li:hover::after {
    -webkit-filter: none;
    filter: none
}

#cardlist .selModal .selModalList ul li:first-child {
    display: none
}

#cardlist .selModal .selModalList ul li+li {
    margin-top: 10px
}

#cardlist .selModal .selModalList ul li.selected {
    background: #beb39a;
    pointer-events: none
}

#cardlist .selModal .selModalList ul li.selected::before {
    display: none
}

#cardlist .mainCol {
    min-width: 100%
}

@media (min-width: 1000.1px) {
    #cardlist .mainCol {
        min-width: 1050px
    }
}

#cardlist .contentsWrap {
    padding: 8vw 0 0
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap {
        padding: 50px 0 0
    }
}

#cardlist .contentsWrap .searchCol {
    background: #fff;
    padding: 5.33333vw 4vw
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol {
        padding: 30px
    }
}

#cardlist .contentsWrap .searchCol .formsetDropBtn {
    margin: 4vw 0;
    background: #000;
    width: 100%;
    text-align: center
}

#cardlist .contentsWrap .searchCol .formsetDropBtn span {
    font-size: 3.73333vw;
    font-weight: 700
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDropBtn {
        display: none
    }
}

#cardlist .contentsWrap .searchCol .formsetDropBtn::before {
    content: '';
    position: absolute;
    right: 4.26667vw;
    top: 4.6vw;
    width: 3.06667vw;
    height: 0.53333vw;
    background: none;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

#cardlist .contentsWrap .searchCol .formsetDropBtn::after {
    content: '';
    position: absolute;
    right: 4.26667vw;
    top: 4.6vw;
    width: 3.06667vw;
    height: 0.53333vw;
    background: none;
    background-color: #fff
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDefaultArea {
        display: -webkit-flex;
        display: flex
    }
}

#cardlist .contentsWrap .searchCol .formsetDefaultArea .freewordsCol {
    position: relative
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDefaultArea .freewordsCol {
        width: 480px
    }
}

#cardlist .contentsWrap .searchCol .formsetDefaultArea .freewordsCol .freewords {
    width: 100%;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #000;
    border-left: none;
    font-weight: 700;
    cursor: text;
    padding: 1.5vw 6vw;
    font-size: 3.73333vw;
    border-radius: 0
}

#cardlist .contentsWrap .searchCol .formsetDefaultArea .freewordsCol .freewords::-webkit-input-placeholder {
    color: #cacaca
}

#cardlist .contentsWrap .searchCol .formsetDefaultArea .freewordsCol .freewords::-ms-input-placeholder {
    color: #cacaca
}

#cardlist .contentsWrap .searchCol .formsetDefaultArea .freewordsCol .freewords::placeholder {
    color: #cacaca
}

#cardlist .contentsWrap .searchCol .formsetDefaultArea .freewordsCol .freewords:placeholder-shown {
    padding: 1.5vw 0
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDefaultArea .freewordsCol .freewords:placeholder-shown {
        padding: 6px 0
    }
}

#cardlist .contentsWrap .searchCol .formsetDefaultArea .freewordsCol .freewords:placeholder-shown+.clearBtn {
    display: none
}

#cardlist .contentsWrap .searchCol .formsetDefaultArea .freewordsCol .freewords:-webkit-autofill {
    box-shadow: 0 0 0 1000px #fff inset
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDefaultArea .freewordsCol .freewords {
        padding: 6px 23px;
        font-size: 14px
    }
}

#cardlist .contentsWrap .searchCol .formsetDefaultArea .freewordsCol .clearBtn {
    position: absolute;
    top: 1.5vw;
    left: 0;
    background: #928157;
    border-radius: 100px
}

@media (max-width: 1000px) {
    #cardlist .contentsWrap .searchCol .formsetDefaultArea .freewordsCol .clearBtn {
        background: #928157 url("../images/common/sp/btn_close_white.png") center center no-repeat;
        background-size: 3.86667vw;
        width: 5.06667vw;
        height: 5.06667vw;
        font-size: 0;
        text-indent: -9999px;
        line-height: 0
    }
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDefaultArea .freewordsCol .clearBtn {
        color: #fff;
        top: 8px;
        width: 18px;
        height: 18px;
        font-size: 10px;
        font-weight: 900
    }
}

#cardlist .contentsWrap .searchCol .formsetDefaultArea .freewordsCol .freewordsSearchBtn {
    position: absolute;
    top: 2vw;
    right: 0;
    background: url(../images/common/ico_search.png) left top no-repeat;
    background-size: 100%;
    width: 3vw;
    height: 4vw;
    text-indent: -9999px;
    -webkit-filter: brightness(0) invert(0);
    filter: brightness(0) invert(0)
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDefaultArea .freewordsCol .freewordsSearchBtn {
        top: 8px;
        width: 12px;
        height: 16px
    }
}

#cardlist .contentsWrap .searchCol .formsetDefaultArea .seriesCol {
    position: relative;
    margin-top: 4vw
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDefaultArea .seriesCol {
        font-size: 14px;
        width: 480px;
        margin-top: 0;
        margin-left: 30px
    }
}

#cardlist .contentsWrap .searchCol .formsetDefaultArea .seriesCol::after {
    content: '';
    background: url(../images/common/ico_arrow.png) center center no-repeat;
    background-size: 2.66667vw;
    width: 2.66667vw;
    height: 2vw;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
    pointer-events: none;
    display: block;
    position: absolute;
    top: 2vw;
    right: 0;
    -webkit-filter: brightness(0) invert(0);
    filter: brightness(0) invert(0)
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDefaultArea .seriesCol::after {
        background-size: 10px;
        width: 10px;
        height: 8px;
        top: 15px
    }
}

#cardlist .contentsWrap .searchCol .formsetDefaultArea .seriesCol .selModalButton {
    width: 100%;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #000;
    border-left: none;
    text-align: left;
    border-radius: 0;
    font-weight: 700;
    padding-bottom: 2vw
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDefaultArea .seriesCol .selModalButton {
        padding-bottom: 0
    }
}

#cardlist .contentsWrap .searchCol .formsetDefaultArea .seriesCol .selModalButton::before {
    display: none
}

#cardlist .contentsWrap .searchCol .formsetDefaultArea .seriesCol .selModalButton::after {
    display: none
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDefaultArea .seriesCol .selModalButton {
        padding: 7px 0 6px
    }
}

#cardlist .contentsWrap .searchCol .searchTit {
    font-size: 3.46667vw;
    font-weight: 700;
    position: relative;
    padding-left: 2vw;
    margin-bottom: 1.6vw
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .searchTit {
        font-size: 14px;
        padding-left: 15px;
        margin-bottom: 0
    }
}

#cardlist .contentsWrap .searchCol .searchTit::before {
    content: "";
    display: block;
    position: absolute;
    background: #000;
    top: 2.5vw;
    left: 0px;
    width: 1.33333vw;
    height: 1px
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .searchTit::before {
        top: 10px;
        left: 0px;
        width: 11px
    }
}

#cardlist .contentsWrap .searchCol .formsetDropArea {
    display: none;
    margin-bottom: 3vw
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDropArea {
        margin-top: 20px;
        margin-bottom: 0;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

#cardlist .contentsWrap .searchCol .formsetDropArea .checkbtnCol {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

#cardlist .contentsWrap .searchCol .formsetDropArea .colorCol {
    margin-top: 4vw
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDropArea .colorCol {
        width: 480px;
        margin-top: 0
    }
}

#cardlist .contentsWrap .searchCol .formsetDropArea .colorCol .checkBtn {
    width: 27.33333vw;
    display: inline-block;
    text-align: center;
    border: solid 2px #000;
    font-size: 3.2vw;
    font-weight: 700;
    margin-bottom: 2vw;
    padding: 1.6vw
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDropArea .colorCol .checkBtn {
        width: 53px;
        font-size: 12px;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        padding: 0;
        cursor: pointer;
        transition: .3s
    }
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDropArea .colorCol .checkBtn:hover {
        background: #000;
        color: #fff
    }
}

#cardlist .contentsWrap .searchCol .formsetDropArea .colorCol .checkBtn.disable {
    opacity: 0;
    pointer-events: none
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDropArea .colorCol .checkBtn.disable {
        display: none
    }
}

#cardlist .contentsWrap .searchCol .formsetDropArea .colorCol a {
    text-decoration: none;
    color: #000
}

#cardlist .contentsWrap .searchCol .formsetDropArea .colorCol a.checked {
    background: #000;
    color: #fff
}

#cardlist .contentsWrap .searchCol .formsetDropArea .colorCol input {
    display: none
}

#cardlist .contentsWrap .searchCol .formsetDropArea .colorCol input:checked+label {
    background: #000;
    color: #fff
}

@media (min-width: 1000.1px) {

    #cardlist .contentsWrap .searchCol .formsetDropArea .typeCol,
    #cardlist .contentsWrap .searchCol .formsetDropArea .illustTypeCol {
        width: 480px;
        margin-left: 30px
    }
}

#cardlist .contentsWrap .searchCol .formsetDropArea .typeCol .checkBtn,
#cardlist .contentsWrap .searchCol .formsetDropArea .illustTypeCol .checkBtn {
    width: 27.33333vw;
    display: inline-block;
    text-align: center;
    border: solid 2px #000;
    font-size: 3.2vw;
    font-weight: 700;
    margin-bottom: 2vw;
    padding: 1.6vw
}

@media (min-width: 1000.1px) {

    #cardlist .contentsWrap .searchCol .formsetDropArea .typeCol .checkBtn,
    #cardlist .contentsWrap .searchCol .formsetDropArea .illustTypeCol .checkBtn {
        width: 89.5px;
        font-size: 12px;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        padding: 0;
        cursor: pointer;
        transition: .3s
    }
}

@media (min-width: 1000.1px) {

    #cardlist .contentsWrap .searchCol .formsetDropArea .typeCol .checkBtn:hover,
    #cardlist .contentsWrap .searchCol .formsetDropArea .illustTypeCol .checkBtn:hover {
        background: #000;
        color: #fff
    }
}

#cardlist .contentsWrap .searchCol .formsetDropArea .typeCol .checkBtn.disable,
#cardlist .contentsWrap .searchCol .formsetDropArea .illustTypeCol .checkBtn.disable {
    opacity: 0;
    pointer-events: none
}

@media (min-width: 1000.1px) {

    #cardlist .contentsWrap .searchCol .formsetDropArea .typeCol .checkBtn.disable,
    #cardlist .contentsWrap .searchCol .formsetDropArea .illustTypeCol .checkBtn.disable {
        display: none
    }
}

#cardlist .contentsWrap .searchCol .formsetDropArea .typeCol a,
#cardlist .contentsWrap .searchCol .formsetDropArea .illustTypeCol a {
    text-decoration: none;
    color: #000
}

#cardlist .contentsWrap .searchCol .formsetDropArea .typeCol a.checked,
#cardlist .contentsWrap .searchCol .formsetDropArea .illustTypeCol a.checked {
    background: #000;
    color: #fff
}

#cardlist .contentsWrap .searchCol .formsetDropArea .typeCol input,
#cardlist .contentsWrap .searchCol .formsetDropArea .illustTypeCol input {
    display: none
}

#cardlist .contentsWrap .searchCol .formsetDropArea .typeCol input:checked+label,
#cardlist .contentsWrap .searchCol .formsetDropArea .illustTypeCol input:checked+label {
    background: #000;
    color: #fff
}

#cardlist .contentsWrap .searchCol .formsetDropArea .illustTypeCol {
    margin: 6vw 0
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .formsetDropArea .illustTypeCol {
        margin: 15px 0 0
    }
}

#cardlist .contentsWrap .searchCol .submitBtn {
    position: relative
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .submitBtn {
        width: 350px;
        padding: 6px;
        margin-top: 25px
    }
}

#cardlist .contentsWrap .searchCol .submitBtn::after {
    background: url(../images/common/ico_search.png) left top no-repeat;
    background-size: 100%;
    width: 3.5vw;
    height: 5vw;
    margin-top: 0.5vw;
    margin-right: 2vw
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .submitBtn::after {
        width: 12px;
        height: 16px;
        margin-top: 2px;
        margin-right: 10px
    }
}

#cardlist .contentsWrap .searchCol .submitBtn span {
    border: none;
    background: none;
    color: #fff;
    text-align: center;
    margin: auto;
    font-size: 3.73333vw;
    font-weight: 700;
    font-family: "Oswald", "Noto Sans JP", -apple-system, sans-serif
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .searchCol .submitBtn span {
        font-size: 14px
    }
}

#cardlist .contentsWrap .searchCol .submitBtn input {
    border: none;
    background: none;
    color: #fff;
    text-align: center;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-indent: -9999px
}

#cardlist .contentsWrap .pageDetailCol {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 4vw 0
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pageDetailCol {
        margin: 20px 0
    }
}

#cardlist .contentsWrap .pageDetailCol .reset {
    display: inline-block;
    background: #fff;
    text-decoration: none;
    color: #000;
    border-radius: 50px;
    padding: 1vw 2vw;
    border: solid 1px #000;
    font-size: 2.93333vw;
    font-weight: 700;
    vertical-align: top;
    margin-right: 1vw
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pageDetailCol .reset {
        padding: 6px 10px;
        margin-right: 5px;
        font-size: 12px
    }
}

#cardlist .contentsWrap .pageDetailCol .countCol {
    font-size: 4.26667vw;
    font-weight: 700;
    display: inline-block;
    padding-top: 0.5vw
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pageDetailCol .countCol {
        font-size: 20px;
        padding-top: 0
    }
}

#cardlist .contentsWrap .spnavi {
    display: none
}

#cardlist .contentsWrap .pagerCol {
    display: -webkit-flex;
    display: flex;
    background: #fff
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pagerCol {
        background: none
    }
}

#cardlist .contentsWrap .pagerCol a {
    text-decoration: none;
    color: #000;
    background: #fff;
    font-size: 3.2vw;
    font-weight: 700;
    font-family: "Oswald", "Noto Sans JP", -apple-system, sans-serif;
    text-align: center
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pagerCol a {
        border: solid 2px #000;
        padding: 2px 0;
        width: 100px;
        font-size: 14px;
        transition: .3s
    }
}

@media (min-width: 1000.1px) and (min-width: 1000.1px) {
    #cardlist .contentsWrap .pagerCol a:hover {
        background: #000 !important;
        color: #fff
    }
}

#cardlist .contentsWrap .pagerCol a.disable {
    pointer-events: none
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pagerCol a.disable {
        border: solid 2px #e6e6e6;
        background: #e6e6e6 !important;
        color: #919090
    }
}

#cardlist .contentsWrap .pagerCol a.prevBtn {
    background: url(../images/cardlist/ico_arrow.png) center center no-repeat;
    background-size: 100%;
    width: 3.86667vw;
    height: 2.66667vw;
    text-indent: -9999px;
    margin: 3vw;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg)
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pagerCol a.prevBtn {
        background: #fff;
        width: 100px;
        height: auto;
        text-indent: 0;
        margin: 0;
        -webkit-transform: none;
        transform: none
    }
}

#cardlist .contentsWrap .pagerCol a.prevBtn.disable {
    opacity: 0.2
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pagerCol a.prevBtn.disable {
        opacity: 1
    }
}

#cardlist .contentsWrap .pagerCol a.nextBtn {
    background: url(../images/cardlist/ico_arrow.png) center center no-repeat;
    background-size: 100%;
    width: 3.86667vw;
    height: 2.66667vw;
    text-indent: -9999px;
    margin: 3vw
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pagerCol a.nextBtn {
        background: #fff;
        width: 100px;
        height: auto;
        text-indent: 0;
        margin: 0
    }
}

#cardlist .contentsWrap .pagerCol a.nextBtn.disable {
    opacity: 0.2
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pagerCol a.nextBtn.disable {
        opacity: 1
    }
}

#cardlist .contentsWrap .pagerCol .pager {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    pointer-events: none
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pagerCol .pager {
        margin: 0 20px;
        pointer-events: auto
    }
}

#cardlist .contentsWrap .pagerCol .pager::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 4vw;
    background: #7f7f7f;
    margin: 0 5vw 0 2vw
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pagerCol .pager::before {
        display: none
    }
}

#cardlist .contentsWrap .pagerCol .pager::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 4vw;
    background: #7f7f7f;
    margin: 0 2vw 0 5vw
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pagerCol .pager::after {
        display: none
    }
}

#cardlist .contentsWrap .pagerCol .pager .pageBtnMin {
    font-size: 3.2vw;
    font-weight: 700;
    font-family: "Oswald", "Noto Sans JP", -apple-system, sans-serif
}

#cardlist .contentsWrap .pagerCol .pager .pageBtnMin span {
    font-size: 3.2vw;
    font-weight: 700;
    font-family: "Oswald", "Noto Sans JP", -apple-system, sans-serif
}

#cardlist .contentsWrap .pagerCol .pager a {
    display: none
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pagerCol .pager a {
        width: 35px;
        display: inline-block
    }
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pagerCol .pager a+a {
        margin-left: 5px
    }
}

#cardlist .contentsWrap .pagerCol .pager a:only-child::after {
    display: none !important
}

#cardlist .contentsWrap .pagerCol .pager a.current {
    display: inline-block
}

#cardlist .contentsWrap .pagerCol .pager a.current::after {
    content: "/";
    display: inline-block;
    padding: 0 0.5vw
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pagerCol .pager a.current::after {
        display: none;
        padding: 0
    }
}

#cardlist .contentsWrap .pagerCol .pager a:last-child {
    display: inline-block
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pagerCol .pager a.current {
        background: #000;
        color: #fff
    }
}

#cardlist .contentsWrap .pagerCol.foot {
    width: 100%;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 4vw
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .pagerCol.foot {
        margin-top: 0
    }
}

#cardlist .contentsWrap .pagerCol.foot .pager::before {
    margin: 0 32vw 0 2vw
}

#cardlist .contentsWrap .pagerCol.foot .pager::after {
    margin: 0 2vw 0 32vw
}

#cardlist .contentsWrap .resultCol {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

#cardlist .contentsWrap .resultCol .modalOpen {
    display: block;
    cursor: pointer;
    width: 29.73333vw;
    margin-right: 2.5vw;
    margin-bottom: 2.5vw
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .resultCol .modalOpen {
        width: 194px;
        margin-right: 20px;
        margin-bottom: 20px;
        transition: 0.3s
    }

    #cardlist .contentsWrap .resultCol .modalOpen:hover {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }
}

#cardlist .contentsWrap .resultCol .modalOpen img {
    width: 100%;
    -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1))
}

#cardlist .contentsWrap .resultCol .modalOpen:nth-of-type(3n) {
    margin-right: 0
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .resultCol .modalOpen:nth-of-type(3n) {
        margin-right: 20px
    }
}

@media (min-width: 1000.1px) {
    #cardlist .contentsWrap .resultCol .modalOpen:nth-of-type(5n) {
        margin-right: 0
    }
}

#cardlist .contentsWrap .resultCol .modalCol {
    display: none
}

#cardlist .fancybox-toolbar {
    background: #928157
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-toolbar:hover {
        background: #ddd8cb
    }
}

#cardlist .fancybox-button--arrow_left {
    width: 8vw;
    height: 8vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-button--arrow_left {
        width: 50px;
        height: 50px
    }
}

#cardlist .fancybox-button--arrow_left div {
    width: 8vw;
    height: 8vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-button--arrow_left div {
        width: 50px;
        height: 50px
    }
}

#cardlist .fancybox-button--arrow_right {
    margin-right: 1vw;
    width: 8vw;
    height: 8vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-button--arrow_right {
        margin-right: 0;
        width: 50px;
        height: 50px
    }
}

#cardlist .fancybox-button--arrow_right div {
    width: 8vw;
    height: 8vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-button--arrow_right div {
        width: 50px;
        height: 50px
    }
}

#cardlist .fancybox-content {
    padding: 0
}

#cardlist .fancybox-content .modalCol {
    width: 95vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol {
        width: 1000px
    }
}

#cardlist .fancybox-content .modalCol dt {
    background: #000;
    color: #fff;
    padding: 4vw;
    line-height: 1.4
}

#cardlist .fancybox-content .modalCol dt .scrollBtn {
    height: 1px;
    display: block;
    opacity: 0
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dt {
        padding: 15px;
        text-align: center;
        line-height: 1.3
    }
}

#cardlist .fancybox-content .modalCol dt .infoCol {
    font-size: 2vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dt .infoCol {
        font-size: 10px
    }
}

#cardlist .fancybox-content .modalCol dt .infoCol span {
    font-size: 2.93333vw;
    vertical-align: middle;
    font-family: "Oswald", "Noto Sans JP", -apple-system, sans-serif;
    font-weight: 600;
    padding: 0 2.66667vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dt .infoCol span {
        font-size: 16px;
        font-weight: 400;
        padding: 10px
    }
}

#cardlist .fancybox-content .modalCol dt .infoCol span:first-child {
    padding: 0 2.66667vw 0 0
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dt .infoCol span:first-child {
        padding: 10px
    }
}

#cardlist .fancybox-content .modalCol dt .cardName {
    font-size: 4.26667vw;
    font-weight: 900
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dt .cardName {
        font-size: 30px
    }
}

#cardlist .fancybox-content .modalCol dd {
    padding: 5.33333vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        padding: 30px
    }
}

#cardlist .fancybox-content .modalCol dd .frontCol {
    width: 81.33333vw;
    margin: auto;
    font-size: 3.2vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .frontCol {
        width: 455px;
        margin: 0 30px 0 0;
        font-size: 16px
    }
}

#cardlist .fancybox-content .modalCol dd .frontCol img {
    width: 100%;
    -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1))
}

#cardlist .fancybox-content .modalCol dd .frontCol .textViewBtn {
    margin-top: 4vw;
    width: 70vw;
    height: 10.5vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .frontCol .textViewBtn {
        display: none
    }
}

#cardlist .fancybox-content .modalCol dd .frontCol .textViewBtn span {
    font-family: "Oswald", "Noto Sans JP", -apple-system, sans-serif
}

#cardlist .fancybox-content .modalCol dd .frontCol .textViewBtn::after {
    width: 8.2vw;
    height: 6vw;
    background: url(../images/cardlist/ico_txtBtn.png) left top no-repeat;
    background-size: 100%;
    -webkit-filter: none;
    filter: none
}

#cardlist .fancybox-content .modalCol dd .backCol {
    padding: 0 4vw;
    display: none
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol {
        width: 455px;
        padding: 0;
        display: block
    }
}

#cardlist .fancybox-content .modalCol dd .backCol>div {
    padding: 3vw 0
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol>div {
        padding: 15px 0;
        font-size: 16px
    }
}

#cardlist .fancybox-content .modalCol dd .backCol>div+div {
    border-top: solid 1px #e3dfd5
}

#cardlist .fancybox-content .modalCol dd .backCol .cardViewBtn {
    margin-top: 4vw;
    width: 70vw;
    height: 10.5vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .cardViewBtn {
        display: none
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .cardViewBtn::after {
    width: 7vw;
    height: 6.5vw;
    background: url(../images/cardlist/ico_cardBtn.png?v2) left top no-repeat;
    background-size: 100%;
    -webkit-filter: none;
    filter: none
}

#cardlist .fancybox-content .modalCol dd .backCol .cardViewBtn span {
    font-family: "Oswald", "Noto Sans JP", -apple-system, sans-serif
}

#cardlist .fancybox-content .modalCol dd .backCol h3 {
    font-weight: 900;
    display: inline-block;
    margin-right: 5.33333vw;
    width: 10vw;
    font-size: 3.2vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol h3 {
        margin-right: 10px;
        width: 64px;
        font-size: 16px
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .col2 {
    display: -webkit-flex;
    display: flex
}

#cardlist .fancybox-content .modalCol dd .backCol .cost {
    width: 48%;
    font-size: 3.2vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .cost {
        width: 190px;
        font-size: 16px
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .attribute {
    width: 48%;
    font-size: 3.2vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .attribute {
        width: 265px;
        font-size: 16px
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .attribute h3 {
    width: 17vw;
    margin-right: 3vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .attribute h3 {
        width: 80px;
        margin-right: 20px
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .attribute img {
    width: 6vw;
    margin-top: -1vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .attribute img {
        width: 28px;
        margin-top: -2px
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .attribute span {
    background: #000;
    color: #fff;
    border-radius: 50px;
    width: 5.06667vw;
    height: 5.06667vw;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    padding-top: 0.5vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .attribute span {
        width: 25px;
        height: 25px;
        padding-top: 0
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .attribute span.yellow {
    background: #cea82f;
    padding-top: 1px
}

#cardlist .fancybox-content .modalCol dd .backCol .attribute span.blue {
    background: #127ca3
}

#cardlist .fancybox-content .modalCol dd .backCol .attribute span.purple {
    background: #84407e
}

#cardlist .fancybox-content .modalCol dd .backCol .attribute span.red {
    background: #da4b51
}

#cardlist .fancybox-content .modalCol dd .backCol .attribute span.green {
    background: #53a46e
}

#cardlist .fancybox-content .modalCol dd .backCol .attribute span.none {
    background: none;
    color: #000;
    font-weight: 400;
    text-align: left
}

#cardlist .fancybox-content .modalCol dd .backCol .power {
    width: 48%;
    font-size: 3.2vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .power {
        width: 190px;
        font-size: 16px
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .counter {
    width: 48%;
    font-size: 3.2vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .counter {
        width: 217px;
        font-size: 16px
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .counter h3 {
    width: 18vw;
    margin-right: 3vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .counter h3 {
        width: 86px;
        margin-right: 20px
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .feature {
    font-size: 3.2vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .feature {
        font-size: 16px
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .feature h3 {
    width: 100%
}

#cardlist .fancybox-content .modalCol dd .backCol .color {
    font-size: 3.2vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .color {
        font-size: 16px
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .text {
    font-size: 3.2vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .text {
        font-size: 16px
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .text h3 {
    display: block;
    width: 100%
}

#cardlist .fancybox-content .modalCol dd .backCol .trigger {
    border: none;
    position: relative;
    margin-top: 5.33333vw;
    font-size: 3.2vw;
    background: #000;
    color: #fff;
    padding: 4vw 2.66667vw 2.66667vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .trigger {
        margin-top: 30px;
        font-size: 14px;
        padding: 12px 10px 10px 10px
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .trigger h3 {
    background: #fff600;
    font-weight: 900;
    position: absolute;
    top: -4vw;
    left: 0;
    padding: 1vw 2vw;
    width: 18vw;
    color: #000
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .trigger h3 {
        top: -20px;
        padding: 3px 8px;
        width: 80px
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .trigger h3::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.5vw 4vw 0 0;
    border-color: #fff600 transparent transparent transparent;
    top: 0;
    right: -4vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .trigger h3::before {
        border-width: 31px 15px 0 0;
        right: -15px
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .getInfo {
    border: none;
    font-size: 3.2vw;
    background: #f4f2ee;
    margin-top: 2.66667vw;
    padding: 2.66667vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .getInfo {
        font-size: 14px;
        padding: 10px;
        margin-top: 20px
    }
}

#cardlist .fancybox-content .modalCol dd .backCol .getInfo h3 {
    display: block;
    width: 100%
}

#cardlist .fancybox-content .modalCol dd .backCol .getInfo.remarks {
    margin-top: 0;
    padding: 0 2.66667vw 2.66667vw
}

@media (min-width: 1000.1px) {
    #cardlist .fancybox-content .modalCol dd .backCol .getInfo.remarks {
        padding: 0 10px 10px
    }
}

#cardlist .selModalOverlay {
    position: relative
}

#cardlist .selModalOverlay::before {
    content: "Ã—";
    display: block;
    background: #928157;
    color: #fff;
    right: 0;
    top: 0;
    width: 11vw;
    height: 11vw;
    font-size: 7.5vw;
    position: absolute;
    text-align: center;
    font-weight: 700;
    z-index: 9999
}

@media (min-width: 1000.1px) {
    #cardlist .selModalOverlay::before {
        width: 44px;
        height: 44px;
        font-size: 30px
    }
}

/*# sourceMappingURL=maps/cardlist.css.map */
